
{% extends 'layout_dash.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <div class="row">
        <!-- GAUGE -->
        <div class="col-lg-5 text-center">
          <div class="card bg-transparent shadow-before" style="border-radius: 10px;">
            <div class="dash-section py-0">
              <div class="row">
                <div class="col-md-6">
                  <div id="gauge-deaths"></div>
                </div>
                <div class="col-md-6">
                  <div id="gauge-confirmed"></div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- BUBBLE -->
        <div class="col-lg-7">
          <div class="row">
            <div class="col-lg-6">
              <div id="bubble-deaths"></div>
            </div>
            <div class="col-lg-6">
              <div id="bubble-confirmed"></div>
            </div>
          </div>
        </div>        
      </div>
      <div class="row">
        <!-- PIE CHART -->
        <div class="col-lg-4 text-center">
          <div class="card bg-transparent mt-2 mb-1">
            <div class="card-body text-center py-0">
              <div>
                <small><em>
                    <i class="fa fa-angle-down fa-2x fa-pull-left" aria-hidden="true"></i>
                    Pie chart will group and visualize
                  </em>
                </small>
              </div>
            </div>
          </div>

          <div class="card bg-transparent shadow-before" id="pieZone" style="border-radius: 10px;">
             <div id="pie-deaths"></div>
          </div>

        </div>        
        <!-- HISTOGRAM -->
        <div class="col-lg-4 text-center">
          <div id="histDesc">
            <div class="card bg-transparent mt-2 mb-1">
              <div class="card-body text-center py-0">
                <small><em>
                    <i class="fa fa-angle-down fa-2x fa-pull-left" aria-hidden="true"></i>
                    Histogram will be listing all item attributes on database regardless
                  </em>
                </small>
              </div>
            </div>
          </div>
          <div class="card bg-transparent shadow-before" style="border-radius: 10px;">
            <div id="histogram-bar-deaths">
            </div>
          </div>
        </div>            
        <!-- HISTOGRAM -->
        <div class="col-lg-4 text-center">
          <div id="histDesc">
            <div class="card bg-transparent mt-2 mb-1">
              <div class="card-body text-center py-0">
                <small><em>
                    <i class="fa fa-angle-down fa-2x fa-pull-left" aria-hidden="true"></i>
                    Histogram will be listing all item attributes on database regardless
                  </em>
                </small>
              </div>
            </div>
          </div>
          <div class="card bg-transparent shadow-before" style="border-radius: 10px;">
            <div id="histogram-bar-confirmed">
            </div>
          </div>
        </div>                    
      </div>
    </div>

    <!-- form to select squares sidebar -->
    <div class="col-lg-3">
      <!-- OVERALL FIGURES - TWO CARDS -->
      <div class="d-flex flex-row justify-content-between">
        <div class="card infoboard-section bg-transparent border-success text-success text-center">
          <div class="card-header py-1 border-success py-1">
            Deaths
          </div>
          <div class="card-body my-0 py-1 py-0">
            <h4 class="card-title" id="overallDeaths">
            </h4>
          </div>
        </div>
        <div class="card infoboard-section bg-transparent border-success text-success text-center">
          <div class="card-header py-1 border-success py-1">
            Confirmed

          </div>
          <div class="card-body my-0 py-1 py-0">
            <h4 class="card-title" id="overallConfirmed">
            </h4>
          </div>
        </div>
      </div>
      <!-- $countrySelect is the opts field of form -->
      <form method="POST" action="" class="mt-4">
        <div class="card infoboard-section bg-transparent border-success text-right">
          <div class="card-header py-1 border-success">
            <em>
              <small>
                Change selection for action!
              </small>
            </em>
              <i class="fa fa-sort text-primary ml-2 animated infinite heartBeat delay-1s" aria-hidden="true"></i>
          </div>
          <div class="card-body py-0">
            <div class="form-group my-0">
              <select id="opts" class="custom-select border-primary text-center text-title mt-2 mb-0 p-0"
                style="border-radius: 9px;border-width: 3px;font-size: smaller;"
                >
              </select>
            </div>
            <div class="card-text text-center  text-success py-0 my-0" style="font-size: smaller;">
              <small>
                <em>
                  app sponsored by Hasan Atilla Turkoz
                </em>
              </small>

            </div>
          </div>
        </div>
      </form>

      <!-- showing figures for country -->
      <div class="container-fluid text-center text-uppercase py-1">
        <i class="fa fa-chevron-down text-light mt-2" aria-hidden="true"></i>
        <i class="text-lowercase text-light mt-2 mx-2">
          <small>
            <em>
              showing figures for:
            </em>
          </small>
        </i>
        <button class="btn btn-dark border-success btn-sm rounded-3xl" type="button">
          <i id="countryName"></i>
        </button>
      </div>

      <div class="d-flex flex-row justify-content-around mt-0">
        <ul class="list-inline my-1" style="font-size:smaller;">
          <li>
            <i class="fa fa-flag" aria-hidden="true"></i>
            &middot;
            Country Code:
            <i id="countryCode"></i>
          </li>
          <li>
            <i class="fa fa-users" aria-hidden="true"></i>
            &middot;
            Population:
            <i id="countryPop">
            </i>
          </li>
        </ul>
        <ul class="list-inline my-1" style="font-size:smaller;">
          <li>
            <span class="fa-stack text-center">
              <i class="fas fa-globe fa-stack-1x text-secondary"></i>
              <i class="fas fa-minus fa-stack-1x text-primary"></i>
            </span>
            &middot;
            Latitude:
            <i id="countryLat">
            </i>
          </li>
          <li>
            <span class="fa-stack text-center">
              <i class="fas fa-globe fa-stack-1x text-secondary"></i>
              <i class="fas fa-minus fa-stack-1x fa-rotate-90 text-primary"></i>
            </span>
            &middot;
            Longitude:
            <i id="countryLong">

            </i>
          </li>
        </ul>
      </div>

      <!-- FIGURES FOR SELECTED COUNTRY -->
      <div class="card-group mt-0 mb-2">
        <div class="card infoboard-section bg-transparent border-success text-success text-center">
          <div class="card-header py-1 border-success py-1">
            <small>
              Deaths
            </small>
          </div>
          <div class="card-body my-0 py-1 py-0">
            <h4 class="card-title" id="countryDeaths">
            </h4>
          </div>
        </div>
        <div class="card infoboard-section bg-transparent border-success text-success text-center">
          <div class="card-header py-1 border-success py-1">
            <small>
              Confirmed
            </small>
          </div>
          <div class="card-body my-0 py-1 py-0">
            <h4 class="card-title" id="countryConfirmed">
            </h4>
          </div>
        </div>
      </div>

      <!-- square button pulsing -->
      <div class="d-flex flex-row justify-content-around align-items-center text-center">
        <div class="fa-fw">
          <i class="fas fa-cog fa-spin fa-2x"></i>
          <i class="fas fa-cog fa-spin fa-2x text-success"></i>
        </div>
        <div class="fa-fw">
          <i class="fas fa-sun fa-cog text-success"></i>
          <span class="fa-stack">
            <i class="far fa-fw fa-circle fa-stack-2x text-success"></i>
            <i class="fas fa-fw fa-sun fa-stack-1x fa-spin"></i>
          </span>
          <i class="fas fa-cog fa-spin fa-fw"></i>
        </div>
        <div class="fa-fw">
          <i class="fas fa-cog fa-spin"></i>
          <i class="fas fa-cog fa-spin text-success"></i>
        </div>
        <a class="btn btn-dark btn-sm border-dark px-3" style="border-width:thick;border-radius: 2rem;">
          <i class="fa animated infinite pulse delay-1s text-secondary">
            <em class="text-light">
              <i id="">
                CoVid19-Tracker
              </i>
            </em>
          </i>
        </a>
        <div class="d-flex flex-column">
          <span class="fa-stack">
            <i class="fas fa-circle fa-stack-2x  text-dark"></i>
            <i class="fas fa-wifi fa-stack-1x fa-spin text-success"></i>
          </span>
          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          <i class="fa fa-signal text-success" aria-hidden="true"></i>
        </div>

        <div class="d-flex flex-column">
          <span class="fa-stack">
            <i class="fa fa-circle-notch fa-stack-2x fa-pulse text-success"></i>
            <i class="fas fa-globe-americas fa-stack-1x  text-secondary"></i>
          </span>
          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          <i class="fa fa-server text-success" aria-hidden="true"></i>

        </div>

        <div class="fa-fw">
          <i class="fa fa-sync text-success" aria-hidden="true"></i>
          <i class="fa fa-sitemap text-success" aria-hidden="true"></i>
          <i class="fa fa-link text-success" aria-hidden="true"></i>
        </div>
      </div>
      <p class="mt-0  py-0 text-center">
        <small>
          <em>
            by @attila5287
          </em>
        </small>
        <a href="https://github.com/attila5287">

          <span class="fa-stack">
            <i class="far fa-circle fa-stack-2x text-secondary"></i>
            <i class="fab fa-github fa-1x fa-inverse" aria-hidden="true"></i>
          </span>

        </a>
      </p>


      <!-- info card general -->
      <div class="card infoboard-section bg-transparent border-success text-success text-center mt-2">
        <div class="card-body my-1 py-2">
          <p class="card-text text-right my-0 text-muted">
            <i class="fa fa-2x fa-info ml-2 mt-2 fa-pull-left" aria-hidden="true"></i>
            <small>
              <em style="font-size: smaller;">
                <i class="fa fa-chevron-right" aria-hidden="true">
                </i>

                App pulls the latest available data from John Hopkins API @
                'coronavirus-tracker-api.herokuapp.com/v2/locations'
              </em>
            </small>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  // https://coronavirus-tracker-api.herokuapp.com/v2/locations
</script>

<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
{% endblock content %}
