<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/solar/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">


    <link rel="icon" type="image/x-icon" class="favicon" href="
			https://raw.githubusercontent.com/attila5287/displaytracker_img/master/dtSquare.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
      integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ddslick/ddslick_stylesheet.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">



    <!-- set title on route by render_template(... ,title='test') -->
    {% if title %}
    <title>Squares - {{ title }}</title>
    {% else %}
    <title> Squares &middot; Dashboard!</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-purpseethru fixed-top py-1">
        <a class="navbar-brand mr-4" href="https://displaytracker.herokuapp.com" style="font-family: cursive;">
          <img class="m-0 p-0" src="" 
            style="height: 36px;">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fas fa-caret-down"></i>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('home') }}">
              <i class="fas fa-envelope-open"></i>
              PostHome</a>
            <a class="nav-item nav-link" href="">
              <i class="fas fa-th-large"></i>
              InvHome</a>
            <a class="nav-item nav-link" href="">
              <i class="fas fa-th-list"></i>
              InvList</a>
            <a class="nav-item nav-link" href="">
              <i class="fas fa-th"></i>
              Squares
            </a>
            <a class="nav-item nav-link" href="{{ url_for('dashboard') }}">
              <i class="fa fa-tachometer-alt" aria-hidden="true"></i>
              Dashboard
            </a>
            <a class="nav-item nav-link" href="">
              <i class="fas fa-boxes"></i>
              InvFeed</a>
            <a class="nav-item nav-link" href="">
              <i class="fas fa-dolly"></i>
              ItemForm</a>
            <a class="nav-item nav-link" href="{{ url_for('about') }}">
              <i class="fas fa-info-circle    "></i>
              About</a>
          </div>
          <!-- Navbar Right Side -->
        </div>

      </nav>
    </header>
    <!-- this is only cosmetic to give a bottom border to navbar that is not gonna slide down with the real one! -->
    <nav class="navbar navbar-expand-md navbar-dark mt-5 py-2 border-success text-center justify-content-center">
      <div class="d-flex text-center">
        <i class="fas fa-battery-empty"> . . . </i>
        <i class="fas fa-battery-quarter"> . . . </i>
        <i class="fas fa-battery-half"> . . . </i>
        <i class="fa fa-battery-three-quarters"> . . . </i>
        {% if title %}
        <small>
          <em>
            {{ title }}
          </em>
        </small>
        {% else %}
        &middot; Display Tracker &middot;
        {% endif %}
      </div>
    </nav>

    <main role="main" class="container-fluid">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <strong>
          {{message}}
        </strong>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      
      
<!-- part of squares layout buttons -->

<!-- LAST COL IS SQR L4YOUT OTHER THAN THOSE ARE MAIN CONTAINERS -->
<div class="row">
  <div class="col-lg-11">

<!-- try example (4) -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div id="ddSlick">
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
<script></script>
  </div>
  <!-- part of squares layout -->
</div>



    </main>
<script src="{{ url_for('static', filename='js/dropdown-img-ddslick.js') }}"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/jsmodules/ddslick/master/dist/jquery.ddslick.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <script src="https://cdn.rawgit.com/jsmodules/ddslick/master/dist/jquery.ddslick.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

  </body>

</html>
