html {
  font-size: 10px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.sidebar-h5 {
  font-family: initial;
}
.sidebar-section {
  border: 1px solid ;
  border-radius: 8px;
  border-color: #2aa198;
}

/* ----- default for boilerplate from corey's----- */
body {
  margin-top: 0rem;
}

h1, h2, h3, h4, h5, h6 {
  /* color: #444444; */
}

.bg-steel {
  background-color: #5f788a;
}

.content-section {
  padding: 10px 20px;
  border: 2px solid ;
  border-radius: 12px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.rounded-xl{
  border-radius: 8px;
}
.rounded-2xl{
  border-radius: 12px;
}
.rounded-3xl{
  border-radius: 16px;
} 

h1, h2, h3, h4, h5, p, i {
  font-family: unset;
}
.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.shadow-gr1d {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(88, 217, 231, 0.233) !important;
    box-shadow: 0 0.5rem 1rem rgba(67, 251, 248, 0.233) !important;
  }

  .hero-image {
    background-image: url("https://images8.alphacoders.com/373/thumb-1920-373691.jpg");
    background-color: #002B36;
    width: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    border-radius: 1.75rem;
    border-width: 2rem;
    background-blend-mode: luminosity;
  }

  .bg-body {
    background-color: #002B36;
  }

  .card.infoboard-section {
    transition: ease 0.5s;
    font-family: Fcard;
  }
  .btn.btn-square:hover {
    transform: scale(1.1, 1.1);
    box-shadow: rgb(188, 143, 250) 0px 15px 15px;
  }

  .card.infoboard-section:hover {
    transform: scale(1.1, 1.1);
    box-shadow: rgb(188, 143, 250) 0px 15px 15px;
  }

  .card.infoboard-section:hover:first-child {
    box-shadow: rgb(65, 237, 243) -5px 15px 15px;
  }

  .card.infoboard-section:hover:last-child {
    box-shadow: rgb(80, 224, 167) 5px 15px 15px;
  }

  .btn-grid {
    border-radius: 1.25rem;
    border-width: 1px;
  }

  .btn-square {
    border-radius: 0.75rem;
  }

  .dash-section {
    padding: 12px;
  }

  .shadow-turqoise {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(147, 190, 189, 0.233) !important;
    box-shadow: 0 0.5rem 1rem rgba(147, 190, 189, 0.233) !important;
  }

  .shadow-gold {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(190, 170, 147, 0.271) !important;
    box-shadow: 0 0.5rem 1rem rgba(190, 170, 147, 0.271) !important;
  }

  .shadow-before {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(190, 47, 195, 0.231) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(190, 47, 195, 0.231) !important;
  }

  .shadow-after {
    -webkit-box-shadow: 0 1rem 2rem rgba(190, 47, 195, 0.371) !important;
    box-shadow: 0 1rem 2rem rgba(190, 47, 195, 0.371) !important;
  }

  .info-section {
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 8px;
    margin-right: 4px;
    margin-left: 4px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 8px;
  }

  .infoboard-section {
    border-radius: 12px;
    border: 1px solid;
  }

