html {
  font-size: 10px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.sidebar-h5 {
  font-family: initial;
}
.sidebar-section {
  border: 1px solid ;
  border-radius: 8px;
  border-color: #2aa198;
}

.text-aquaseethru {
  color: rgba(0, 229, 255, 0.731);
}
.bg-orgseethru {  
  background-color: #f6873db7;
}
.bg-purpseethru {  
  background-color: rgba(190, 47, 195, 0.631);
}

/* ----- default for boilerplate from corey's----- */
body {
  margin-top: 0rem;
}

h1, h2, h3, h4, h5, h6 {
  /* color: #444444; */
}

.bg-steel {
  background-color: #5f788a;
}

.content-section {
  padding: 10px 20px;
  border: 2px solid ;
  border-radius: 12px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.rounded-xl{
  border-radius: 8px;
}
.rounded-2xl{
  border-radius: 12px;
}
.rounded-3xl{
  border-radius: 16px;
} 
